<h4>ClickSWITCH</h4>
<h5>Software Engineer</h5>
<h6>November, 2019 - Present</h6>
<p>
  Individual contributor to RESTful APIs and white label ASP.NET web applications that streamline the process of
  transferring direct deposits and automated payments between financial institutions.
</p>
<h4>Optel Group</h4>
<h5>Software Engineer</h5>
<h6>September, 2018 - November, 2019</h6>
<p>
  Individual contributor to serialization and traceability solutions.
  Worked on microservices that connect multiple NMVO providers to pharmaceutical distributors using REST and SOAP APIs.
</p>
<h4>Blackbaud</h4>
<h5>Senior Software Engineer</h5>
<h6>February, 2011 - September, 2018</h6>
<p>
  Tech lead on back-end scrum team for Community and Foundation Services.
  Developer for GIFTS Online, the flagship foundation management solution from Blackbaud.
  Collaborated with high-profile clients on customized accounts payable solutions.
  Primary contributor to the GIFTS Online API, and worked with clients to integrate it into their business processes.
</p>