<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="home">Matthew Abbas</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="skills" routerLinkActive="active">Skills</a>
      <a class="nav-item nav-link" routerLink="experience" routerLinkActive="active">Experience</a>
      <!-- <a class="nav-item nav-link" routerLink="contact" routerLinkActive="active">Contact</a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/matthew-abbas-335a52a/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/matthew-abbas" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <!-- <a class="nav-item nav-link" href="https://twitter.com/mabbius" target="_blank">
        <i class="fa fa-twitter"></i>
      </a> -->
    </div>
  </div>
</nav>