<div class="row">
    <p>When this page loads, a call is made to an API I created that scrapes the text of a song from the website
        linked below and analyzes its sentiment. The image below varies depending on whether the sentiment of the song
        is positive, negative or neutral.</p>
</div>
<div class="row">
    <div class="col-9">
        <p><a href="{{ (response | async)?.url }}" [innerHtml]="(response | async)?.title" target="_blank"></a></p>
    </div>
    <div class="col-3">
        <a *ngIf="(response | async)?.sentiment === 'POSITIVE'" title="Henri de Toulouse-Lautrec
, Public domain, via Wikimedia Commons"
            href="https://commons.wikimedia.org/wiki/File:Henri_de_Toulouse-Lautrec_053.jpg"><img width="128"
                alt="Henri de Toulouse-Lautrec 053"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Henri_de_Toulouse-Lautrec_053.jpg/128px-Henri_de_Toulouse-Lautrec_053.jpg"></a>
        <a *ngIf="(response | async)?.sentiment === 'NEUTRAL'" title="Piet Mondrian
, Public domain, via Wikimedia Commons"
            href="https://commons.wikimedia.org/wiki/File:Tableau_I,_by_Piet_Mondriaan.jpg"><img width="128"
                alt="Tableau I, by Piet Mondriaan"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Tableau_I%2C_by_Piet_Mondriaan.jpg/128px-Tableau_I%2C_by_Piet_Mondriaan.jpg"></a>

        <a *ngIf="(response | async)?.sentiment === 'NEGATIVE'" title="Edvard Munch
, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:The_Scream.jpg"><img width="128"
                alt="The Scream"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/The_Scream.jpg/128px-The_Scream.jpg"></a>
    </div>
</div>